@{
    Layout = null;
}

<h3>📊 Báo cáo hệ thống</h3>

<p>💰 Tổng doanh thu: <b>@ViewBag.TongTien VNĐ</b></p>
<p>🚕 Tổng chuyến: <b>@ViewBag.SoChuyen</b></p>
<p>👤 Tổng người dùng: <b>@ViewBag.SoUser</b></p>
