<h2>Dashboard Admin</h2>

<p>Tổng người dùng: @ViewBag.TongNguoiDung</p>
<p>Tổng tài xế: @ViewBag.TongTaiXe</p>
<p>Tổng chuyến: @ViewBag.TongChuyen</p>
<p>Doanh thu: @ViewBag.DoanhThu</p>

<a href="/Admin/Users">Quản lý User</a>
<br>
<a href="/Admin/TaiXes">Quản lý Tài xế</a>
<br>
<a href="/Admin/ChuyenDis">Quản lý Chuyến</a>
<br>
<a href="/Admin/BaoCao">Báo cáo</a>
